
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*nav-bar (inicio)-----------------------------*/
.cabecalho{
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.logo{
    float: left;
}

img{
    max-width: 100%;
    margin-left:15px;
}

.menu{
    float: right;
    margin-right: 10%;
}

.menu > ul > li {
    float: right;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: 24px;
    margin-top: 12px;
    list-style: none;
    margin-right: 10px;
}

.menu > ul > li > a{
    font-size: 20px;
    color: #999;
}

li > a:hover{
    background-color: #777777;
    padding: 5px;
    border-radius: 5px;
    text-decoration: underline;
    color: #fff !important;
}

.active{
    background-color: #777777;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

/*nav-bar (fim)---------------------------------*/

/*----------------------------------------------*/

/*form (incio)----------------------------------*/


.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #01375b;
    width: 100%;
}

.title > h1{
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title > p{
    font-size: 15px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

fieldset{
    display: flex;
    border: none;
}

fieldset > div{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    width: 35%;
    margin-left: 10%;
}

fieldset > div > label{
    font-size: 20px;
}

fieldset > div > input{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    align-items: center;
    border: 2px solid #406882;
    box-shadow: 5px 5px 5px #B1D0E0;
    font-size: 18px;
}

#generoId{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    align-items: center;
    border: 2px solid #406882;
    box-shadow: 5px 5px 5px #B1D0E0;
    font-size: 18px;
}


.motivo{
    width: 70%;
    margin-left: 15%;
}

#motivoId{
    resize: none;
    font-size: 18px;
}

.motivo > textarea{
    width: 80%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #406882;
    box-shadow: 5px 5px 5px #B1D0E0;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.botoes > button{
    width: 200px;
    height: 35px;
    border: 2px solid #406882;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #B1D0E0;
    color: #01375b
}

.botoes > button:hover{
    background-color: #6998AB;
    color: #ffffff;
}

.botoes > .enviar{
    margin-right: 10px;
}

/*form (fim)------------------------------------------*/